

.body{
    background-color: black;
    color: white;

}

.header
{
    text-align: left;

}

.navbar
{
    color: white;
}
.container-fluid{
    padding: 20%;
}
.img-responsive{
    max-width: 70%;
}
.col-8
{
    color: white;
    float: right;
    max-width: 100%;
}
